@import "./base.css";

.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 14px 20px;
}
.logo {
  font-weight: 700;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.first-part-logo {
  font-style: italic;
}

.svg {
  stroke: var(--black);
}

.first-section {
  border-radius: 30px;
  width: 335px;
  height: 620px;
  background-image: url(./images/mobile_background.jpg);
  background-size: 335px 620px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: end;
  padding: 20px;
  margin: 0 auto 71px auto;
}

.first-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 295px;
}

.first-section-button {
  border-radius: 100px;
  padding: 12px 28px;
  width: 120px;
  height: 41px;
  background-color: var(--orange);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.first-section-link {
  border: 1px solid var(--white);
  border-radius: 100px;
  padding: 12px 28px;
  width: 159px;
  height: 41px;
  font-weight: 600;
  color: #fff;
}

.first-section-button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.first-section-linkScrollDown {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  gap: 12px;
  align-items: center;
}

.checkmarkIconWrap {
  width: 28px;
  height: 28px;
  background-color: var(--white);
  border-radius: 100%;
  fill: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-section {
  background-color: var(--dark-purple);
  color: #fff;
  padding: 20px;
  margin-bottom: 72px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits-item {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.benefits-icon-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  fill: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.benefits-title {
  font-weight: 600;
  font-size: 18px;
}
.benefits-text {
  color: rgba(255, 255, 255, 0.7);
  max-width: 308px;
}
.ingredients-section {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: 72px;
}
.ingredients-section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  max-width: 283px;
}
.other-title-word {
  color: var(--orange);
}
.ingredients-section-text {
  line-height: 129%;
  text-align: center;
}
.ingredients-list {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ingredients-item {
  border-radius: 15px;
  width: 335px;
  height: 270px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  overflow: hidden;
}

.ingredients-image {
  width: 224px;
  height: 171px;
  align-self: center;
}

.ingredients-item:first-child {
  background-color: var(--orange);
  color: #fff;
}

.ingredients-item:nth-child(2n) {
  border: 1px solid var(--orange);
  background-color: #fff;
}

.ingredients-item:nth-child(2n + 3) {
  background-color: var(--dark-purple);
  color: #fff;
}

.ingredients-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
}

/* ------overlay------ */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 28px;
  background-color: #fff;
  color: var(--black);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}

.overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.category-wrapper {
  display: flex;
  gap: 6px;
  padding-bottom: 6px;
}
.overlay-ingredient {
  border-radius: 35px;
  padding: 6px 16px;
  width: auto;
  height: 24px;
  background-color: var(--orange);
  font-size: 10px;
  line-height: 120%;
  color: #fff;
}
.overlay-category {
  font-size: 10px;
  line-height: 120%;
  border: 1px solid var(--orange);
  border-radius: 35px;
  padding: 6px 16px;
  width: 93px;
  height: 24px;
  background-color: var(--white);
}
.overlay-text {
  line-height: 129%;
  letter-spacing: -0.02em;
}

.ingredients-item:hover .overlay {
  transform: translateX(0);
}

/* ------How it's made section  ------  */
.how-made-section {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 72px;
}
.how-made-section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 12px;
}

.how-made-section-image {
  width: 335px;
  height: 500px;
  background-image: url(./images/how-made-img-mobile.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.how-made-section-text-box {
  border-radius: 15px;
  padding: 20px 14px;
  width: 335px;
  height: 456px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subtitle-text-box {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
}
.list-text-box {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.item-text-box {
  line-height: 129%;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: baseline;
}

/* ------Our Products section */

.products-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  padding: 0 20px;
}

.products-section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.products-list {
}

.products-list-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 335px;
  height: 364px;
  background-color: #fff;
  padding: 32px 52px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.product-name-type-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 10px;
}
.product-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.type-chocolate {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.product-price {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  width: 94px;
  height: 33px;
  background: var(--bіliy);
  font-weight: 600;
  font-size: 14px;
}

/* -------top sellers section -----  */

.sellers-section {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 72px;
}
.sellers-section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.sellers-section-text {
  line-height: 129%;
  letter-spacing: -0.02em;
}

.sellers-section img {
  border-radius: 15px;
  width: 335px;
  height: 464px;
}

.sellers-section div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sellers-section div:last-child {
  align-items: center;
}
.sellers-section-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 12px 28px;
  width: 120px;
  height: 41px;
  background-color: var(--orange);
}

/* -------review section------- */

.review-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 20px;
  align-items: center;
  padding-bottom: 72px;
}

.review-list {
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.review-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 335px;
  height: 200px;
  box-shadow: 0 9px 27px 0 rgba(215, 228, 249, 0.25);
  background: #fff;
  position: relative;
}
.review-section-button {
  border: 1px solid var(--orange);
  border-radius: 100px;
  padding: 12px 28px;
  width: 165px;
  height: 41px;
  font-weight: 600;
  text-align: center;
}

.review-item img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}
.client-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  padding-bottom: 6px;
}

.review-text {
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-wrapper {
  position: relative;
  top: -42px;
  display: flex;
  padding: 0 18px;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
